---
import BaseLayout from "../layouts/BaseLayout.astro";
import HeroSection from "../components/HeroSection.astro";
import PillarsSection from "../components/PillarsSection.astro";
import AboutSection from "../components/AboutSection.astro";
import ServicesSection from "../components/ServicesSection.astro";
import CapabilitiesSection from "../components/CapabilitiesSection.astro";
import ReadinessSection from "../components/ReadinessSection.astro";
import SecuritySection from "../components/SecuritySection.astro";
import ProcessSection from "../components/ProcessSection.astro";
import WhySection from "../components/WhySection.astro";
import ClientsSection from "../components/ClientsSection.astro";
import FaqSection from "../components/FaqSection.astro";
import ContactSection from "../components/ContactSection.astro";
import CtaSection from "../components/CtaSection.astro";
---

<BaseLayout>
  <main id="main">
    <HeroSection />
    <PillarsSection />
    <AboutSection />
    <ServicesSection />
    <CapabilitiesSection />
    <ReadinessSection />
    <SecuritySection />
    <ProcessSection />
    <WhySection />
    <ClientsSection />
    <FaqSection />
    <ContactSection />
    <CtaSection />
  </main>
</BaseLayout>
